@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

// 头部筛选条
.filter-container {
  padding-bottom: 10px;
  overflow: hidden;

  //.filter-left {
  //  float: left;
  //}
  //
  //.filter-right {
  //  float: right;
  //}
}

.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.post-container {
  .sub-navbar {
    padding: 0 40px;
    text-align: right;
    height: 58px;
    line-height: 58px;
    background: #d0d0d0;
  }

  .form-container {
    padding: 0 40px;
  }
}

.avatar-uploader {
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover {
      border-color: #409EFF;
    }
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
  }

  .avatar {
    width: 160px;
    height: 160px;
    display: block;
  }
}

.w-100 {
  width: 100%;
}

.c-primary {
  color: #409EFF;
}

.c-success {
  color: #67C23A;
}

.c-warning {
  color: #E6A23C;
}

.c-danger {
  color: #F56C6C;
}

.c-info {
  color: #909399;
}

.img-uploader {
  width: 202px !important;
  height: 186px !important;
  padding: 12px 20px;

  img {
    width: 100%;
    height: auto;
  }
}

.img-uploader-icon {
  width: 202px !important;
  height: 186px !important;
}
